/* -fx-base:  #121212;*/

.topbar{ /*top header bar*/
    -fx-background-color: #23272a;
}

#title{
    -fx-text-fill: #fff;
}


#brigham {
    -fx-image: url("images/Icons/Brigham.png");
}

#aboutus{
    -fx-image: url("images/Icons/About_Us_DARK.png");
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane { /*gives scroll panes a background color*/
    -fx-background-color: #858585;
}

.hbox{
    -fx-background-color: #6D7275;
}


.label {
    -fx-text-fill: #fff;
}


.text{
    -fx-text-fill: #fff;
}

.text-field{
    -fx-text-fill: #fff;
}


.login{
    -fx-background-color: #B0B0B0;
    -fx-border-color: #CCCCCC;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-text-fill: #fff
}

.searchbar{
    -fx-background-color: #858585;
    -fx-border-color: #CCCCCC;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}


.startend {
    -fx-background-color: #B0B0B0;
    -fx-border-color: #CCCCCC;
    -fx-border-radius: 50;
    -fx-background-radius: 50;
}


#switch{ /*Switch box*/
    -fx-background-color: #B0B0B0;
    -fx-border-color: #CCCCCC;
    -fx-background-radius: 20;
    -fx-border-radius: 20;

}

#arrows{
    -fx-image: url("images/Icons/swap_arrowsINV.png");
}


.nightbutton{
    -fx-background-color: #ffff;
    -fx-border-color: #292929;
    -fx-border-radius: 50;
    -fx-background-radius: 50;
}

.sidebar{
    -fx-background-color: #4A4A4A;
    -fx-border-color: #292929;
}

.transparentBar{
}

.floors{
    -fx-background-color: #ffffff;
    -fx-border-color: #CCC;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

#currentFloor{
    -fx-background-color: #CCCCCC;
    -fx-text-fill: #292929;
    -fx-border-color: #292929;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}


#zoomer{
    -fx-background-color: #B0B0B0;
    -fx-border-color: #CCCCCC;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
}

.zoomerBlack{
    visibility: false;
    -fx-font-size: 65;
}

.zoomerWhite{
    visibility: true;
    -fx-font-size: 65;
}

.header{
    -fx-border-color: #cccccc;
}

.buttons{
    -fx-background-color: #B0B0B0;
    -fx-background-radius: 5;
    -fx-border-color: #CCCCCC;
    -fx-border-radius: 5;
    -fx-text-fill: white;
}

.secondaryButtons{
    -fx-background-color: #cbcbcb;
    -fx-background-radius: 5;
    -fx-border-color: #CCCCCC;
    -fx-border-radius: 5;
    -fx-text-fill: white;
}

.titled-pane{

    -fx-background-color: #5C5C5C;
    -fx-text-fill: #fff;
    /*#272727*/
}

.scroll-bar{
    -fx-background-color: #4a4a4a;
}

.scroll-bar .thumb{
    -fx-background-color: #B0B0B0;
}


/*******************************************************************************
 *                                                                             *
 * TitledPane                                                                  *
 *                                                                             *
 ******************************************************************************/
.titled-pane {
    -fx-text-fill: white;
}
.titled-pane:focused {
    -fx-color: -fx-base;
}
.titled-pane > .title {
    -fx-background-color: linear-gradient(#4a4a4a, #535353, #5c5c5c, #666666, #6f6f6f);
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 3 3 0 0, 2 2 0 0, 1 1 0 0;
    -fx-padding: 0.3333em 0.75em 0.3333em 0.75em; /* 4 9 4 9 */
}
/* focus purely on the arrow */
.titled-pane:focused > .title > .arrow-button > .arrow {
    -fx-background-color: -fx-focus-color, -fx-mark-color;
    -fx-background-insets: -1, 0;
    -fx-effect: dropshadow(two-pass-box , -fx-focus-color, 5, 0.2 , 0, 0);
}
.titled-pane > .title > .arrow-button {
    -fx-background-color: null;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0.0em 0.583em 0.0em 0.0em; /* 0 7 0 0 */
}
.titled-pane > .title > .arrow-button > .arrow {
    -fx-background-color: #fff;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.25em 0.3125em 0.25em 0.3125em; /* 3 3.75 3 3.75 */
    -fx-shape: "M 0 0 h 7 l -3.5 4 z";
}
.titled-pane > .title:hover {
    -fx-color: -fx-hover-base;
}
.titled-pane > *.content{
    -fx-background-color: transparent;
    -fx-border-color: -fx-box-border;
    -fx-border-insets: -1 0 0 0;
}





.list-cell:odd{
    -fx-background-color: #4c4c4c;
}

.list-cell:even{
    -fx-background-color: #4A4A4A;
}

.list-cell:filled:selected{
    -fx-background-color: #0067b1;
    -fx-text-fill: white;
}

.list-cell:filled {
    -fx-text-fill: white;
}

.combo-box-base > .text-field{
    -fx-background-color: #c2c2c2;
    -fx-text-fill: #fff;
    -fx-prompt-text-fill: #fff;
}

.combo-box-base > .arrow-button {
    -fx-background-color: linear-gradient(#4a4a4a, #535353, #5c5c5c, #666666, #6f6f6f);
}

.combo-box-base > .arrow-button > .arrow{
    -fx-background-color: #fff;
}

.combo-box > .list-cell {
    -fx-background: transparent;
    -fx-background-color: transparent;
    -fx-text-fill: #fff;
}

.combo-box-popup > .list-view {
    -fx-background-color: #CCCCCC, #4c4c4c;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}

.hbox > .searchbar {
    -fx-background-color: transparent;
}

.modalback{
    -fx-background-color:  #858585;
    -fx-border-color: #CCC;
    -fx-border-width: 2;
}
/*
.sidenodebar{
    -fx-background-color: gray;
}

.sidenodes{
    -fx-background-color:  gainsboro;
    -fx-background-radius: 5;
}
*/
.menu-button {
    -fx-background-color: linear-gradient(#848484, #8c8c8c, #909090);
    -fx-border-color: #CCC;
    -fx-border-radius: 5;
}

.menu-button > .arrow-button > .arrow {
    -fx-background-color: #fff;
}

.menu-button .label {
    -fx-padding: 0.166667em 1.5em 0.25em 0.833333em; /* 2 18 3 10 */
}


.password-field {
    -fx-border-color: white;
    -fx-border-radius: 5;
    -fx-text-fill: white;

}

.tablebuttons{
    -fx-border-color:  #eee;
}

#error{
    -fx-text-fill: maroon;
}