.root {
   /* -fx-base:  #121212;*/

}

.titlebox{
    -fx-background-color: green;
}

.hbox{
    -fx-background-color: #000;
    /*  #012d5a */
}

.label {
    -fx-text-fill: gray;
}

.zoomButton{
    -fx-background-color: red;
}