.topbar{
    /*top header bar*/
    -fx-background-color: #012d5a;
}

#title{
    -fx-text-fill: #ffffff;
}

#brigham {
    -fx-image: url("images/Icons/Brigham_and_Womens_Hospital_logo.png");
}



#helpButton{
    -fx-image: url("images/Icons/About_Us.png");
}


.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    /*gives scroll panes a background color*/
    -fx-background-color: #ddd;
}

.hbox{
    -fx-background-color: #2c2f33;
}


.label {
    -fx-text-fill: black;
}


.text{
    -fx-text-fill: black;
}

.text-field{
    -fx-text-fill: #ffffff;
}


.login{
    -fx-background-color: beige;
    -fx-border-color: gray;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.searchbar{
    -fx-background-color: white;
    -fx-border-color: gray;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}


.startend {
    -fx-background-color: white;
    -fx-border-color: gray;
    -fx-border-radius: 50;
    -fx-background-radius: 50;
}


.switcheroo{ /*Switch box*/
    -fx-background-color: #fff;
    -fx-border-color: black;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}

.switcheroo > #arrows{
    -fx-image: url("images/Icons/swap_arrows.png");
}




.nightbutton{
    -fx-background-color: #23272a;
    -fx-border-color: gray;
    -fx-border-radius: 50;
    -fx-background-radius: 50;
}

.sidebar{
    -fx-background-color: #cccccc;
    -fx-border-color: black;
}

.transparentBar{
}

.floors{
    -fx-background-color: #ffffff;
    -fx-border-color: #292929;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

#currentFloor{
    -fx-background-color: gray;
    -fx-border-color: #292929;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}


.zoomers{
    -fx-background-color: white;
    -fx-border-color: gray;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
}

.zoomerSigns{
     -fx-text-fill: black;
     -fx-font-size: 65;
 }

.header{
    -fx-border-color: black;
}

.buttons{
    -fx-background-color: #0067b1;
    -fx-background-radius: 5;
    -fx-border-color: gray;
    -fx-border-radius: 5;
}

.TitledPane{
}

.combo-box-base > .text-field{
    -fx-text-fill: #000;
}